.page {
  display: none;
}

.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.nav-links a {
  text-decoration:none;
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  font-weight: normal;
}
@media (max-width: 576px) {
  /* Make the top bar and nav link gaps smaller on mobile devices */
  .top-bar {
    height: 40px;
  }

  .nav-links a {
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  /* Make the top bar and nav link gaps larger on tablets and desktop devices */
  .top-bar {
    height: 60px;
  }

  .nav-links a {
    margin: 0 20px;
  }
}
.container {
  position: relative;
}

.textoverlay1 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.post {
  width: 70%;
    max-width: 300px;
    border: 1px solid #e69833;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.textoverlay2 {
  position:static;
  text-align: center;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
  margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
