

.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  font-family:monospace;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family:monospace;
  
}

.nav-links a {
  text-decoration:none;
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  font-weight: normal;
}
@media (max-width: 576px) {
  /* Make the top bar and nav link gaps smaller on mobile devices */
  .top-bar {
    height: 60px;
  }

  .nav-links a {
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  /* Make the top bar and nav link gaps larger on tablets and desktop devices */
  .top-bar {
    height: 60px;
  }

  .nav-links a {
    margin: 0 20px;
  }
}
.container {
  position: relative;
}
.slider {
  position: relative;
  overflow:hidden;
  padding:20px;
}
.slider-heading {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: monospace;
  text-transform: capitalize;
}
.bck,
.nxt {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 9;
}
.bck {
  left: 0;
  transform: rotate(180deg);
}
.nxt {
  right: 0;
}
.bck img,
.nxt img {
  opacity: 0.2;
}
.bck:hover img,
.nxt:hover img {
  opacity: 1;
} 
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.products-container {
padding: 0 10vw;
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
}
.products-container::-webkit-scrollbar {
display: none;
}
.product {
  flex: 0 0 auto; /* Do not grow, do not shrink, use auto width */
  width: 30%; /* Set the width to 20% to create a 1x5 row */
  max-width: 300px; /* Adjust as needed */
  height: 500px;
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 40px;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the total width */
}
.productkeyb {
  flex: 0 0 auto; /* Do not grow, do not shrink, use auto width */
  width: 30%; /* Set the width to 20% to create a 1x5 row */
  max-width: 550px; /* Adjust as needed */
  height: 500px;
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 40px;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the total width */
}
.productmon {
  flex: 0 0 auto; /* Do not grow, do not shrink, use auto width */
  width: 30%; /* Set the width to 20% to create a 1x5 row */
  max-width: 700px; /* Adjust as needed */
  height: 500px;
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 40px;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the total width */
}
.productdm {
  flex: 0 0 auto; /* Do not grow, do not shrink, use auto width */
  width: 40%; /* Set the width to 20% to create a 1x5 row */
  max-width: 850px; /* Adjust as needed */
  height: 500px;
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 40px;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the total width */
}
  .product img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  border: 3px solid #000000;
  box-sizing: border-box;
  vertical-align: top; 
  overflow: hidden;
}

.productkeyb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #000000;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}
.productmon img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  border: 3px solid #000000;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}
.productdm img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #000000;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}



.textoverlay1 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}





.textoverlay2 {
  position:static;
  text-align: center;
  font-size: 35px;
  font-family:monospace;
}


body {
  margin: 0;
  background-color: #fff;
}
.address {
  position:fixed;
  font-family: monospace;
  text-align: left;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#333;
  color: #fff;
  text-align: center;
  padding: 0px;
}
.footer .address {
  position: absolute;
  bottom: 10px; /* Adjust this value for desired spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Adjust width as needed */
}